body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 700px;
    min-width: 520px;
    background-color: #f0f8ff;
}

table {
    margin-top: 10px;
    margin-bottom: 5px;
}

td {
    
}

input[type="text"], input[readonly] {
    border: 1px solid black;
    margin: 5px;
    width: 97%;
}

.radio-wrapper {
    align-items: center;
    padding-left: 10px;
}

button {
    cursor: pointer;
}

.error {
    display: inline; 
    margin-top: 10px;
}

#notification {
    display: inline;
    margin-top: 10px;
}
